<div>
    <img class="w-68 h-68 border border-gray-400 m-auto" src="<%- qrUrl %>">
    <a href="<%- qrUrl %>" class="text-blue-500 hover:text-blue-700">Open in Wallet</a>
    <p id="otp" class="text-lg text-gray-500 mb-4">One Time Password: <%- otp %></p>
</div>
