<div>
    <img hx-get="/presentation-result?id=<%- id %>" hx-trigger="every 5s" hx-swap="innerHTML" hx-target="#result" class="w-68 h-68 border border-gray-400 m-auto" src="<%- qrUrl %>">
    <a href="<%- qrUrl %>" class="text-blue-500 hover:text-blue-700">Open in Wallet</a>
</div>
